<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

</head>
<style>
    .province-district-ward select {
        border: 1px solid black;
        border-radius: 6px;
    }

    .location {
        border: 1px solid black;
        border-radius: 6px;
    }

    ul li:hover {
        cursor: pointer;
    }
</style>

<body>
<th:block th:insert="~{ home/header :: header}"></th:block>
<div class="container mt-4" style="padding-top: 100px;">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="input-group row d-flex justify-content-center rounded-2">
                <form th:action="@{/home/searchByCity}" method="get" class="col-md-10 m-4">
                    <input type="text" th:value="${city}" name="city" id="city" hidden="hidden">
                    <div class="container d-flex  my-2 form-control"
                         style="max-width: 830px;background-color: whitesmoke">
                        <div class="location border border-white d-flex flex-nowrap align-items-center"
                             style="width: 180px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                 class="bi bi-geo-alt" viewBox="0 0 16 16">
                                <path
                                        d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
                                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                            </svg>
                            <h6 th:text="${city}" class="m-2">
                                Hồ Chí Minh
                            </h6>
                        </div>
                        <div class="mt-1 mx-2"
                             style="transform: rotate(180deg);background:gray; height: 30px; width: 1px;">

                        </div>
                        <input name="searchKey" id="search" type="text" class="border border-white rounded-3"
                               placeholder="Tìm kiếm trên toàn quốc" aria-label="Search"
                               aria-describedby="button-addon2" style="background-color: whitesmoke;width: 650px;">
                        <div class="input-group-append p-0">
                            <button class="btn btn-primary" type="submit" id="button-addon2">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <div class="container d-flex justify-content-center">
                        <div class="dropdown">
                            <button class="btn btn-outline-dark  text-start " style="width: 200px;opacity: 0.6"
                                    type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Loại nhà đất
                            </button>
                            <ul class="dropdown-menu mt-2" style="width: 270px"
                                aria-labelledby="dropdownMenuButton1">
                                <li>
                                    <h6 class="text-uppercase text-center m-2">Loại nhà đất</h6>
                                </li>
                                <li>
                                    <hr class="fw-light">
                                </li>
                                <li class="d-flex justify-content-between"><span class="mx-2"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                        fill="currentColor" class="bi bi-houses mx-1" viewBox="0 0 16 16">
                                                <path
                                                        d="M5.793 1a1 1 0 0 1 1.414 0l.647.646a.5.5 0 1 1-.708.708L6.5 1.707 2 6.207V12.5a.5.5 0 0 0 .5.5.5.5 0 0 1 0 1A1.5 1.5 0 0 1 1 12.5V7.207l-.146.147a.5.5 0 0 1-.708-.708zm3 1a1 1 0 0 1 1.414 0L12 3.793V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v3.293l1.854 1.853a.5.5 0 0 1-.708.708L15 8.207V13.5a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 4 13.5V8.207l-.146.147a.5.5 0 1 1-.708-.708zm.707.707L5 7.207V13.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5V7.207z"/>
                                            </svg>
                                            Tất cả nhà đất</span><input value="all" name="houseType" class="mx-2"
                                                                        type="radio">
                                </li>
                                <li class="d-flex justify-content-between"><span class="mx-2"><i
                                        class="fa-solid fa-hotel mx-1"></i>
                                            Căn hộ chung cư</span><input value="Căn hộ" name="houseType" class="mx-2"
                                                                         type="radio">
                                </li>
                                <li class="d-flex justify-content-between"><span class="mx-2"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                        fill="currentColor" class="bi bi-house mx-1" viewBox="0 0 16 16">
                                                <path
                                                        d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
                                            </svg>
                                            Nhà riêng</span><input value="Nhà riêng" name="houseType" class="mx-2"
                                                                   type="radio"></li>
                                <li class="d-flex justify-content-between"><span class="mx-2"><i
                                        class="fa-solid fa-house-user mx-1"></i>
                                            Nhà biệt thự</span><input value="Biệt thự" name="houseType" class="mx-2"
                                                                      type="radio">
                                </li>
                                <li class="d-flex justify-content-between"><span class="mx-2"><i
                                        class="fa-solid fa-house-chimney mx-1"></i>
                                            Nhà mặt phố</span><input value="Nhà mặt phố" name="houseType" class="mx-2"
                                                                     type="radio">
                                </li>
                                <li class="d-flex justify-content-between"><span class="mx-2"><i
                                        class="fa-solid fa-house-chimney mx-1"></i>
                                            Nhà trọ/Phòng trọ</span><input value="Nhà trọ" name="houseType" class="mx-2"
                                                                           type="radio">
                                </li>
                            </ul>
                        </div>
                        <div class="dropdown mx-2">
                            <button class="btn btn-outline-dark dropdown-toggle1 text-start "
                                    style="width: 200px;opacity: 0.6;" type="button" id="dropdownMenuButton5"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                Mức giá
                            </button>
                            <ul class="dropdown-menu mt-2 "
                                style="width: 270px; max-height: 250px; overflow-y: scroll;"
                                aria-labelledby="dropdownMenuButton1">
                                <li>
                                    <h6 class="text-uppercase text-center m-2">Mức giá</h6>
                                </li>
                                <li>
                                    <hr class="fw-light">
                                </li>
                                <li class="d-flex justify-content-between"><span class="mx-2">
                                            Tất cả mức giá</span>
                                    <input name="rangePrice" class="mx-2" th:value="${'all'}" type="radio">
                                </li>
                                <li class="d-flex justify-content-between"><span class="mx-2">
                                            Dưới 500 triệu</span>
                                    <input name="rangePrice" class="mx-2" th:value="${'0,500000000'}" type="radio">
                                </li>
                                <li class="d-flex justify-content-between"><span class="mx-2">
                                            500 - 800 triệu</span>
                                    <input name="rangePrice" class="mx-2" th:value="${'500000000,800000000'}"
                                           type="radio">
                                </li>
                                <li class="d-flex justify-content-between"><span class="mx-2">
                                            800 triệu - 1 tỷ</span>
                                    <input name="rangePrice" class="mx-2" th:value="${'800000000,1000000000'}"
                                           type="radio">
                                </li>
                                <li class="d-flex justify-content-between"><span class="mx-2">
                                            1 - 2 tỷ</span>
                                    <input name="rangePrice" class="mx-2" th:value="${'1000000000,2000000000'}"
                                           type="radio">
                                </li>
                                <li class="d-flex justify-content-between"><span class="mx-2">
                                            2 - 3 tỷ</span>
                                    <input name="rangePrice" class="mx-2" th:value="${'2000000000,3000000000'}"
                                           type="radio">
                                </li>
                                <li class="d-flex justify-content-between"><span class="mx-2">
                                            3 - 5 tỷ</span>
                                    <input name="rangePrice" class="mx-2" th:value="${'3000000000,5000000000'}"
                                           type="radio">
                                </li>
                                <li class="d-flex justify-content-between"><span class="mx-2">
                                            5 - 7 tỷ</span>
                                    <input name="rangePrice" class="mx-2" th:value="${'5000000000,7000000000'}"
                                           type="radio">
                                </li>
                                <li class="d-flex justify-content-between"><span class="mx-2">
                                            7 - 10 tỷ</span>
                                    <input name="rangePrice" class="mx-2" th:value="${'7000000000,10000000000'}"
                                           type="radio">
                                </li>
                                <li class="d-flex justify-content-between"><span class="mx-2">
                                            10 - 20 tỷ</span>
                                    <input name="rangePrice" class="mx-2" th:value="${'10000000000,20000000000'}"
                                           type="radio">
                                </li>
                                <li class="d-flex justify-content-between"><span class="mx-2">
                                            20 - 30 tỷ</span>
                                    <input name="rangePrice" class="mx-2" th:value="${'20000000000,30000000000'}"
                                           type="radio">
                                </li>
                                <li class="d-flex justify-content-between"><span class="mx-2">
                                            30 - 40 tỷ</span>
                                    <input name="rangePrice" class="mx-2" th:value="${'30000000000,40000000000'}"
                                           type="radio">
                                </li>
                                <li class="d-flex justify-content-between"><span class="mx-2">
                                            Trên 40 tỷ</span>
                                    <input name="rangePrice" class="mx-2" th:value="${'40000000000'}" type="radio">
                                </li>
                            </ul>
                        </div>
                        <div class="dropdown mx-2">
                            <button class="btn btn-outline-dark dropdown-toggle1 text-start"
                                    style="width: 200px;opacity: 0.6;" type="button" id="dropdownMenuButton00"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                Diện tích
                            </button>
                            <ul class="dropdown-menu mt-2 "
                                style="width: 270px; max-height: 250px; overflow-y: scroll;"
                                aria-labelledby="dropdownMenuButton1">
                                <li>
                                    <h6 class="text-uppercase text-center m-2">Diện tích</h6>
                                </li>
                                <li>
                                    <hr class="fw-light">
                                </li>
                                <li class="d-flex justify-content-between"><span class="mx-2">
                                            Tất cả diện tích
                                        </span><input th:value="${'all'}" class="mx-2" type="radio" name="sqmtRange">
                                </li>
                                <li class="d-flex justify-content-between"><span class="mx-2">
                                            Dưới 30 m²
                                        </span><input th:value="${'0,30'}" class="mx-2" type="radio" name="sqmtRange">
                                </li>
                                <li class="d-flex justify-content-between"><span class="mx-2">
                                            30 - 50 m²</span><input th:value="${'30,50'}" class="mx-2" type="radio"
                                                                    name="sqmtRange"></li>
                                <li class="d-flex justify-content-between"><span class="mx-2">
                                            50 - 80 m²</span><input th:value="${'50,80'}" class="mx-2" type="radio"
                                                                    name="sqmtRange"></li>
                                <li class="d-flex justify-content-between"><span class="mx-2">
                                            80 - 100 m²</span><input th:value="${'80,100'}" class="mx-2" type="radio"
                                                                     name="sqmtRange">
                                </li>
                                <li class="d-flex justify-content-between"><span class="mx-2">
                                            100 - 150 m²</span><input th:value="${'100,150'}" class="mx-2" type="radio"
                                                                      name="sqmtRange">
                                </li>
                                <li class="d-flex justify-content-between"><span class="mx-2">
                                            150 - 200 m²</span><input th:value="${'150,200'}" class="mx-2" type="radio"
                                                                      name="sqmtRange">
                                </li>
                                <li class="d-flex justify-content-between"><span class="mx-2">
                                            200 - 250 m²</span><input th:value="${'200,250'}" class="mx-2" type="radio"
                                                                      name="sqmtRange">
                                </li>
                                <li class="d-flex justify-content-between"><span class="mx-2">
                                            250 - 300 m²</span><input th:value="${'250,300'}" class="mx-2" type="radio"
                                                                      name="sqmtRange">
                                </li>
                                <li class="d-flex justify-content-between"><span class="mx-2">
                                            300 - 500 m²</span><input th:value="${'300,500'}" class="mx-2" type="radio"
                                                                      name="sqmtRange">
                                </li>
                                <li class="d-flex justify-content-between"><span class="mx-2">
                                            Trên 500 m²</span><input th:value="${'500'}" class="mx-2" type="radio"
                                                                     name="sqmtRange">
                                </li>
                            </ul>
                        </div>


                        <div class="dropdown">
                            <button class="btn btn-outline-dark dropdown-toggle1 text-start "
                                    style="width: 200px;opacity: 0.6;" type="button" id="dropdownMenuButton1"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                Số phòng ngủ
                            </button>
                            <ul class="dropdown-menu mt-2 "
                                style="width: 270px; max-height: 250px; overflow-y: scroll;"
                                aria-labelledby="dropdownMenuButton1">
                                <li>
                                    <h6 class="text-uppercase text-center m-2">Số phòng ngủ</h6>
                                </li>
                                <li>
                                    <hr class="fw-light">
                                </li>
                                <li class="d-flex justify-content-between"><span class="mx-2">
                                            Tất cả
                                        </span><input class="mx-2" type="radio" name="bedroom" th:value="${'all'}"></li>
                                <li class="d-flex justify-content-between"><span class="mx-2">
                                            1 phòng
                                        </span><input class="mx-2" type="radio" name="bedroom" th:value="${'1'}"></li>
                                <li class="d-flex justify-content-between"><span class="mx-2">
                                            2 phòng</span><input class="mx-2" type="radio" name="bedroom"
                                                                 th:value="${'2'}"></li>
                                <li class="d-flex justify-content-between"><span class="mx-2">
                                            3 phòng</span><input class="mx-2" type="radio" name="bedroom"
                                                                 th:value="${'3'}"></li>
                                <li class="d-flex justify-content-between"><span class="mx-2">
                                            4 phòng</span><input class="mx-2" type="radio" name="bedroom"
                                                                 th:value="${'4'}"></li>
                                <li class="d-flex justify-content-between"><span class="mx-2">
                                            5+ phòng</span><input class="mx-2" type="radio" name="bedroom"
                                                                  th:value="${'5'}"></li>

                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- END TÌM KIẾM -->


<!-- TẤT CẢ BÀI ĐĂNG -->

<div class="container mt-4">

    <div class="row d-flex justify-content-center">
        <div class="d-flex justify-content-between" style="width: 80%">
            <h4 th:if="${city.equals('Toàn quốc')}" class="col-md-8"><strong>Mua bán và cho thuê nhà trên toàn
                quốc</strong>
            </h4>
            <h4 th:if="${!city.equals('Toàn quốc')}" th:text="${'Mua bán và cho thuê nhà tại '+city}"
                class="col-md-8 fw-bold"></h4>
            <div class="dropdown">
                <button style="width: 200px;"
                        class=" rounded-3 d-flex justify-content-between bg-white border border-gray" type="button"
                        id="dropdownMenuButton07"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="mx-4">Thông thường</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-caret-down mt-1" viewBox="0 0 16 16">
                        <path d="M3.204 5h9.592L8 10.481zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659"/>
                    </svg>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton07">
                    <li><a th:href="@{/home/sortByCity(city=${city}, sortOption=${'priceDesc'})}" class="dropdown-item">Giá
                        cao đến thấp</a></li>
                    <li><a th:href="@{/home/sortByCity(city=${city}, sortOption=${'priceAsc'})}" class="dropdown-item">Giá
                        thấp đến cao</a></li>
                    <li><a th:href="@{/home/sortByCity(city=${city}, sortOption=${'sqftDesc'})}" class="dropdown-item">Diện
                        tích cao đến thấp</a></li>
                    <li><a th:href="@{/home/sortByCity(city=${city}, sortOption=${'sqftAsc'})}" class="dropdown-item">Diện
                        tích thấp đến cao</a></li>

                </ul>
            </div>
        </div>
        <div th:if="${properties.isEmpty()}" class="container-sm d-flex justify-content-center mt-4">
            <div class="alert alert-success text-center" style="width: 80%" role="alert">
                <h5><strong>Hiện tại chưa có bài đăng về địa điểm này.</strong>
                </h5>
                <a th:href="@{/home/home}" class="form-control btn btn-outline-dark mt-4"
                   style="width: 50%;"><strong>Quay lại
                    trang chủ</strong></a>
            </div>
        </div>
        <div class="col-md-10" th:each="property:${properties}">
            <!-- Nội dụng lấy từ đây -->
            <a style="z-index: 1;" th:href="@{/listing/listing-info/{id}(id=${property.propertyId})}"
               class="input-group row mt-3 d-flex justify-content-center rounded-2 text-decoration-none">
                <div class="container rounded-3 shadow my-4" style="max-width: 80%; background-color: whitesmoke;">
                    <div th:text="${property.postInformation.typePost}"
                         th:classappend="${property.postInformation.typePost == 'VIP Kim Cương' ? 'bg-danger' : 'bg-dark'} "
                         class=" text-uppercase vip-label text-white p-2 rounded-3"
                         style=" width: 120px;position: absolute; top: 30px; left: 100px; height: 30px;font-size: 12px;">
                    </div>
                    <div class="image d-flex justify-content-center">
                        <div>
                            <img style="width: 630px; height: 250px; padding-right: 2px; object-fit: cover;"
                                 class="rounded-3" th:src="${property.listImages.get(0).imageUrl}" alt="photo">
                        </div>
                        <div>
                            <img style="width: 230px; margin-bottom: 2px; object-fit: cover;height: 124px"
                                 class="rounded-3" th:src="${property.listImages.get(1).imageUrl}" alt="photo">
                            <img style="width: 230px; object-fit: cover; height: 124px" class="rounded-3"
                                 th:src="${property.listImages.get(2).imageUrl}" alt="photo">
                        </div>
                    </div>


                    <div class=" mt-4 text-uppercase mx-4">
                        <h6 th:text="${property.propertyTitle}" class="text-dark"> 8 suất ngoại giao - hàng đẹp -
                            góc-Penthouse- shop-căn hộ Masteri Grand View - The Global
                            City</h6>
                    </div>
                    <div class="information row">
                        <div class="col-md-12 d-flex justify-content-start text-dark mx-4 mb-4">
                            <span th:text="${property.address.fullAddress}">Long biên</span>
                        </div>
                        <div th:if="${property.propertyTypeTransaction.equals('rent')}"
                             class="col-md-3 d-flex justify-content-center"
                             style="margin-left: 20px;font-weight: bold">

                            <span
                                    th:text="${(property.propertyPrice/100000000)/2}+' triệu/tháng'"
                                    class="text-danger">4.1
                                    tỷ</span>
                        </div>
                        <div th:if="${property.propertyTypeTransaction.equals('sell')}"
                             class="col-md-2 d-flex justify-content-center"
                             style="margin-left: 20px;font-weight: bold">
                                <span th:if="${property.propertyPrice>1000000000}"
                                      th:text="${property.propertyPrice/1000000000}+' tỷ'" class="text-danger">4.1
                                    tỷ</span>
                            <span th:if="${property.propertyPrice<1000000000}"
                                  th:text="${property.propertyPrice/100000000}+' triệu'" class="text-danger">4.1
                                    tỷ</span>
                        </div>
                        <div class="col-md-2 d-flex justify-content-center">
                            <h6 th:text="${property.squareMeters}+' m²'" class="text-danger fw-bold">52 m2</h6>
                        </div>
                        <div th:if="${property.propertyTypeTransaction.equals('sell')}"
                             class="col-md-2 d-flex justify-content-center" style="font-weight: bold">
                                <span
                                        th:if="${property.propertyPrice>1000000000 && (property.propertyPrice/1000000000)/property.squareMeters > 1 }"
                                        th:text="${(property.propertyPrice/1000000000)/property.squareMeters}+' tỷ/m²'"
                                        class="text-danger">4.1 tỷ</span>
                            <span
                                    th:if="${property.propertyPrice>1000000000 && (property.propertyPrice/1000000000)/property.squareMeters < 1 }"
                                    th:text="${(property.propertyPrice/1000000000)/property.squareMeters*1000}+' triệu/m²'"
                                    class="text-danger">4.1 tỷ</span>
                            <span th:if="${property.propertyPrice<1000000000}"
                                  th:text="${(property.propertyPrice/1000000000)/property.squareMeters}+' triệu/m²'"
                                  class="text-dark">4.1 tỷ</span>
                        </div>
                        <div class="col-md-1 d-flex justify-content-center">
                            <span th:text="${property.bedrooms}" class="text-dark">1</span>
                            <svg class="mt-1 mx-2" width="16" height="16" fill="black"
                                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                                <!--!Font Awesome Free 6.7.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                                <path
                                        d="M32 32c17.7 0 32 14.3 32 32l0 256 224 0 0-160c0-17.7 14.3-32 32-32l224 0c53 0 96 43 96 96l0 224c0 17.7-14.3 32-32 32s-32-14.3-32-32l0-32-224 0-32 0L64 416l0 32c0 17.7-14.3 32-32 32s-32-14.3-32-32L0 64C0 46.3 14.3 32 32 32zm144 96a80 80 0 1 1 0 160 80 80 0 1 1 0-160z"/>
                            </svg>
                        </div>
                        <div class="col-md-1 d-flex justify-content-center">
                            <span th:text="${property.bathrooms}+' '" class="text-dark">1</span>
                            <svg class="mt-1 mx-2" width="16" height="16" fill="black"
                                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <!--!Font Awesome Free 6.7.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                                <path
                                        d="M96 77.3c0-7.3 5.9-13.3 13.3-13.3c3.5 0 6.9 1.4 9.4 3.9l14.9 14.9C130 91.8 128 101.7 128 112c0 19.9 7.2 38 19.2 52c-5.3 9.2-4 21.1 3.8 29c9.4 9.4 24.6 9.4 33.9 0L289 89c9.4-9.4 9.4-24.6 0-33.9c-7.9-7.9-19.8-9.1-29-3.8C246 39.2 227.9 32 208 32c-10.3 0-20.2 2-29.2 5.5L163.9 22.6C149.4 8.1 129.7 0 109.3 0C66.6 0 32 34.6 32 77.3L32 256c-17.7 0-32 14.3-32 32s14.3 32 32 32l448 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L96 256 96 77.3zM32 352l0 16c0 28.4 12.4 54 32 71.6L64 480c0 17.7 14.3 32 32 32s32-14.3 32-32l0-16 256 0 0 16c0 17.7 14.3 32 32 32s32-14.3 32-32l0-40.4c19.6-17.6 32-43.1 32-71.6l0-16L32 352z"/>
                            </svg>
                        </div>

                    </div>
                    <div class="description mx-4">
                        <p th:text="${property.propertyDescription}" style="width: 100%;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;" class="title text-dark"> DUY NHẤT 1 căn hộ 2Pn
                            căn góc 73m² view đẹp mua trực tiếp CDT Vinhomes CHIẾT KHẤU THANH TOÁN
                            17.3% HƯỚNG MÁT, VIEW HỒ BƠI, TẦNG ĐẸP - Diện tích: 73m² - Giá bán: 3.2 tỷ chưa VAT và
                            Phí
                            Bảo trì - Giá gồm VAT: 3.63 tỷ MUA TRỰC TIẾP CDT VINHOMES, RẺ hơn hàng bán lại, Chỉ 1
                            căn
                            duy nhất, nhận nhà ở ngayLiên hệ:</p>
                    </div>
                    <hr>
                    <div class="container-sm d-flex justify-content-between mb-4">
                        <div class="contact d-flex flex-nowrap">
                            <img class="rounded-circle m-2" style="width: 30px; height: 30px;"
                                 src="https://file4.batdongsan.com.vn/resize/200x200/2024/07/30/20240730153731-b584.jpg"
                                 alt="photo">
                            <div class="contact-info row">
                                    <span th:text="${property.postInformation.fullName}" style="font-size: 12px;"
                                          class="col-md-12 fw-bold mt-1 text-dark">Nguyễn Trường
                                        Nam</span>
                                <span th:text="${property.postInformation.datePost}" class="col-md-12 text-body "
                                      style="font-size: 12px;">Đăng ngày
                                        20/11/2024</span>
                            </div>
                        </div>
                        <div class="btn btn-sm btn-info d-flex align-items-center justify-content-center rounded-pill mt-2"
                             style="width: 200px; height: 35px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-telephone" viewBox="0 0 16 16">
                                <path
                                        d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
                            </svg>
                            <span th:text="'Liên hệ: '+${property.postInformation.phone}" class="mx-2">Liên hệ:
                                    <strong>0345738256</strong></span>
                        </div>
                    </div>
                </div>
            </a>
            <!-- Tới đây -->

        </div>
    </div>
</div>


<th:block th:insert="~{ home/footer :: footer}"></th:block>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js"></script>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>

<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        referrerpolicy="no-referrer"></script>
<script th:src="@{/access/js/apiprovince.js}"></script>
<script th:src="@{/access/js/price-format.js}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Lấy tất cả các thẻ <li> có chứa input
        const liElements = document.querySelectorAll("li");

        liElements.forEach(li => {
            li.addEventListener("click", function (event) {
                // Tìm input bên trong thẻ li và kích hoạt nó
                const input = li.querySelector("input[type='radio']");
                if (input) {
                    input.checked = true;
                }
            });
        });
    });
</script>

</body>

</html>