<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/access/css/home.css}">
</head>
<style>
    .place-address {
        border-radius: 16px;
    }

    .place-address-choice:hover {
        background-color: whitesmoke;
        color: black;
        cursor: pointer;
    }
</style>

<body>
    <th:block th:insert="~{ home/header :: header}"></th:block>
    <div class="container">
        <div class="my-4">
            <div class="d-flex justify-content-between">
                <div class="step-1">
                    <h4 class=""><strong>Tạo bài đăng</strong></h4>
                    <span><strong>Bước 1: Địa chỉ bất động sản</strong></span>
                </div>
                <div class="exit">
                    <a th:href="@{/listing/exit-post/{id}(id=${address.getAddressId()})}" class="btn btn-outline-dark rounded-pill btn-lg fw-light">Thoát</a>
                </div>
            </div>
            <hr>
           <div class="container">
               <form th:object="${address}" th:action="@{/listing/address}" method="POST">
                   <div class="container-sm border place-address" style="width: 60%;">
                       <h5 class="py-3 mx-2"><strong>Nhu cầu</strong></h5>
                       <div class="container-sm d-flex flex-nowrap justify-content-between">
                           <div class="border rounded-pill place-address-choice d-flex align-items-center justify-content-start mb-4"
                                style="width: 350px;height: 50px;">
                               <input type="radio" value="sell" id="sell" name="option" class="mx-2">
                               <i class=" mx-2 fa-solid fa-tag"></i>Bán
                           </div>
                           <div class="border rounded-pill place-address-choice d-flex align-items-center justify-content-start mb-4"
                                style="width: 350px;height: 50px;">
                               <input type="radio" value="rent" id="rent" name="option" class="mx-2">
                               <i class="mx-2 fa-solid fa-key"></i> Cho thuê
                           </div>
                       </div>
                   </div>
                   <div class="container-sm border place-address my-4" style="width: 60%;">
                       <h5 class="py-3 mx-2"><strong>Địa chỉ bất động sản</strong></h5>
                       <div class="container d-flex flex-nowrap mb-2">
                           <div class="province-district-ward">
                               <select th:field="*{province}" class="text-start btn" name="city" id="city" style="width: 235px">
                                   <option  value="">Tỉnh/Thành phố</option>
                               </select>
                           </div>
                           <div class="province-district-ward mx-2">
                               <select th:field="*{district}"  class="text-start btn" name="district" id="district" style="width: 235px">
                                   <option value="">Quận/Huyện</option>
                               </select>
                           </div>
                           <div class="province-district-ward">
                               <select th:field="*{ward}"  class="text-start btn" name="ward" id="ward" style="width: 235px">
                                   <option value="">Phường/Xã</option>
                               </select>
                           </div>
                       </div>
                       <label for="location" class="m-2">Địa chỉ cụ thể</label>
                       <input type="text" value="" id="location" name="location" class="form-control mx-2 mb-4"
                              style="max-width: 725px;" placeholder="Địa chỉ cụ thể">
                   </div>

                   <div class="container-sm my-4 d-flex justify-content-end" style="width: 60%;">
                       <button type="submit" value="Submit" class="btn btn-primary rounded-pill">Tiếp theo</button>
                   </div>
               </form>
           </div>
        </div>
    </div>


    <th:block th:insert="~{ home/footer :: footer}"></th:block>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>

    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        referrerpolicy="no-referrer"></script>
    <script th:src="@{/access/js/apiprovince.js}"></script>
    <script>document.querySelectorAll('.place-address-choice').forEach(div => {
            div.addEventListener('click', () => {
                document.querySelectorAll('.place-address-choice').forEach(item => {
                    item.classList.remove('selected');
                });

                const radioInput = div.querySelector('input[type="radio"]');
                if (radioInput) {
                    radioInput.checked = true;
                    div.classList.add('selected');
                }
            });
        });

    </script>
</body>

</html>